.marker-popup .leaflet-popup-content-wrapper {
    width: 500px;
    max-width: calc(100vw - 64px);
    padding: 0;
    background-color: #fefefe;
    color: #222;
}

.marker-popup .leaflet-popup-content {
    margin: 0;
    padding: 20px 0 0;
}

.leaflet-container a.leaflet-popup-close-button {
    top: 20px;
    right: 20px;
    font-size: 1.5rem;
    color: #8a6e4b;
}

.leaflet-container a.leaflet-popup-close-button:hover {
    color: #222;
}

@media (min-width: 768px) {
    .leaflet-container a.leaflet-popup-close-button {
        font-size: 2rem;
    }
}
