<footer id='footer' class='text-center text-lg-left'>
    <div id='logo-footer'>
        <a href='' class='scrollto'></a>
    </div>
    <div class='row'>
        <div id='footer-menu-wrap' class='col-sm-24 col-md-18'>
            <div id='footer-menu-one' class='col-sm-8'>
                <nav class='footer-nav'>
                    <ul class='nav-menu'>
                        <li class='nav-item'><a href='https://wofford.edu/about' class='nav-link' title='About'> About</a></li>
                        <li class='nav-item'><a href='https://wofford.edu/academics' class='nav-link' title='Academics'> Academics</a></li>
                        <li class='nav-item'><a href='https://wofford.edu/admission' class='nav-link' title='Admission'> Admission</a></li>
                        <li class='nav-item'><a href='https://wofford.edu/student-experiences' class='nav-link' title='Student Experiences'> Student Experiences</a></li>
                        <li class='nav-item'><a href='https://woffordterriers.com/' target='_blank' class='nav-link' title='Athletics'> Athletics</a></li>
                    </ul>
                </nav>
            </div><!-- footer-menu-one -->

            <div id='footer-menu-two' class='col-sm-8'>
                <nav class='footer-nav'>
                    <ul class='nav-menu'>
                        <li class='nav-item'><a href='https://wofford.edu/admission/apply' class='nav-link' title='Apply'> Apply</a></li>
                        <li class='nav-item'><a href='https://wofford.edu/give' target='_blank' class='nav-link' title='Give'> Give</a></li>
                        <li class='nav-item'><a href='https://wofford.edu/administration/human-resources/employment-opportunities' class='nav-link' title='Employment'> Employment</a></li>
                        <li class='nav-item'><a href='https://wofford.edu/academics/library' class='nav-link' title='Sandor Teszler Library'> Sandor Teszler Library</a></li>
                    </ul>
                </nav>
            </div><!-- footer-menu-two -->
            <div id='footer-menu-three' class='col-sm-8'>
                <nav class='footer-nav'>
                    <ul class='nav-menu'>
                        <li class='nav-item'><a href='https://my.wofford.edu' target='_blank' class='nav-link' title='myWofford'> myWofford</a></li>
                        <li class='nav-item'><a href='https://wofford.edu/about/news' class='nav-link' title='News + Wofford Today'> News + Wofford Today</a></li>
                        <li class='nav-item'><a href='https://wofford.edu/admission/visit' class='nav-link' title='Visit'> Visit</a></li>
                        <li class='nav-item'><a href='https://wofford.edu/administration' class='nav-link' title='Administration'> Administration</a></li>
                    </ul>
                </nav>
            </div><!-- footer-menu-three -->
        </div><!-- footer-menu-wrap -->
        <div id='footer-contact-info' class='col-xs-24 col-sm-24 col-md-6'>
            <span class='footer-section-header'></span>
            <div class='street_address' itemprop='address' itemscope='' itemtype='http://schema.org/PostalAddress'>
                <a href='https://goo.gl/maps/ZcEbCWedKPo' target='_blank'>
                    <span class='d-block' itemprop='streetAddress'>429 North Church Street</span>
                    <span itemprop='addressLocality'>Spartanburg</span>, <span itemprop='addressRegion'>SC</span>
                    <span class='d-block' itemprop='postalCode'>29303-3663</span>
                </a>
            </div>
            <a href='https://wofford.edu//connect.wofford.edu/myWofford/about/contact.aspx' id='footer-email-link'><span itemprop='email'>Email</span></a> | <a
                href='tel:864-597-4000'
                id='footer-phone-link'><span itemprop='telaphone'>864-597-4000</span></a
            >

            <br />
            <a href='https://wofford.edu/administration/privacy-policy' title='Privacy Policy'> Privacy Policy</a>
            <br />
            <a href='https://wofford.edu/administration/ada-compliance' title='ADA Compliance/Accessibility'> ADA Compliance/Accessibility</a>
            <br />
            <a href='https://wofford.edu/administration/title-ix' title='Title IX/Sexual Harassment'> Title IX/Sexual Harassment</a>
            <br />
            <a href='https://wofford.edu/administration/non-discrimination-statement' title='Non-Discrimination Statement'> Non-Discrimination Statement</a>
            <br />
            <a href='https://wofford.edu/sitemap' title='Sitemap'> Sitemap</a>
        </div>
    </div><!-- row -->
</footer>
<style>
    #footer {
        background-color: #282829;
    }
</style>
