---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title='Home' bgColor='bg-white' textColor='text-black'>
	<h1>Welcome</h1>
	<div><a href='/apps/weather'>Weather</a></div>
</BaseLayout>
