---
import Footer from "../components/portfolio/Footer.astro";
import Header from "../components/portfolio/Header.astro";
import Contact from "../components/portfolio/sections/Contact.astro";
import Education from "../components/portfolio/sections/Education.astro";
import Home from "../components/portfolio/sections/Home.astro";
import Projects from "../components/portfolio/sections/Projects.astro";
import Skills from "../components/portfolio/sections/Skills.astro";
// import Testimonials from "../components/portfolio/sections/Testimonials.astro";
import Work from "../components/portfolio/sections/Work.astro";
import PortfolioLayout from "../layouts/PortfolioLayout.astro";
---

<PortfolioLayout>
  <Header />
  <main id="content">
    <div class="w-full max-w-2xl mx-auto pt-10 md:pt-16 px-4 sm:px-6 lg:px-8">
      <Home />
      <Projects />
      <!-- <Testimonials /> -->
      <Skills />
      <Work />
      <Education />
      <Contact />
    </div>
  </main>
  <Footer />
</PortfolioLayout>
