---
import BaseLayout from '../../../../layouts/BaseLayout.astro'

import Navbar from '../../../../components/wofford-homepage/Navbar.astro'
import MediaContainer from '../../../../components/wofford-homepage/MediaContainer.astro'
import Footer from '../../../../components/wofford-homepage/Footer.astro'
---

<BaseLayout title='Wofford College' isWoffordPage>
    <Navbar />
    <MediaContainer media='/wofford-homepage/video/wofford-campus.webm' />
    <main>
        <!-- CTA section -->
        <section class='home-section-cta'>
            <div class='cta-container'>
                <div class='cta-items'>
                    <div class='cta-item'>
                        <a class='cta-item-link' href='#'>
                            <div class='cta-description'>Come to campus and take a tour, talk to an admissions counselor and more!</div>
                            <div class='cta-link-text'>Visit &rarr;</div>
                        </a>
                    </div>
                    <div class='cta-item'>
                        <a class='cta-item-link' href='#'>
                            <div class='cta-description'>Think that Wofford is the place for you? Submit your application here.</div>
                            <div class='cta-link-text'>Apply &rarr;</div>
                        </a>
                    </div>
                    <div class='cta-item'>
                        <a class='cta-item-link' href='#'>
                            <div class='cta-description'>Need information on scholarships, financial aid and more? We&rsquo;ve got you covered.</div>
                            <div class='cta-link-text'>Scholarships &rarr;</div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Tagline section -->
        <section class='home-section-tagline'>
            <div class='tagline-container'>
                <div class='tagline-heading'>Where thought leads</div>
                <div class='tagline-subtitle'>TO COMPELLING STORIES.</div>
            </div>
        </section>
        <!-- News stories section -->
        <section class='home-section-news'>
            <div class='news-stories'>
                <a class='news-story prev' href='#'>
                    <img class='story-image' src='/wofford-homepage/images/news/news-01.jpg' alt='story title 1' />
                    <div class='story-body'>
                        <div class='story-title'>Story Title 1</div>
                        <div class='story-subtitle'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio atque nulla quidem, perspiciatis recusandae in!</div>
                    </div>
                </a>
                <a class='news-story current' href='#'>
                    <img class='story-image' src='/wofford-homepage/images/news/news-02.jpg' alt='story title 2' />
                    <div class='story-body'>
                        <div class='story-title'>Story Title 2</div>
                        <div class='story-subtitle'>Lorem ipsum dolor sit amet.</div>
                    </div>
                </a>
                <a class='news-story next' href='#'>
                    <img class='story-image' src='/wofford-homepage/images/news/news-03.jpg' alt='story title 3' />
                    <div class='story-body'>
                        <div class='story-title'>Story Title 3</div>
                        <div class='story-subtitle'>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus qui omnis iste dolorem adipisci beatae porro labore natus cumque minima, aliquid quas alias neque atque
                            nesciunt quasi quaerat! Expedita recusandae ratione exercitationem cum nulla perferendis harum tempora saepe provident laboriosam.
                        </div>
                    </div>
                </a>
            </div>
            <div class='arrow prev-arrow'>
                <img src='/wofford-homepage/images/icons/left-arrow.png' alt='previous story' />
            </div>
            <div class='arrow next-arrow'>
                <img src='/wofford-homepage/images/icons/right-arrow.png' alt='next story' />
            </div>
        </section>
        <!-- News archive section -->
        <section class='home-section-news-archive'>
            <div class='news-archive-text'>Read more stories from the <a href='#'>news archive</a>.</div>
        </section>
        <!-- Give section -->
        <section class='home-section-give'>
            <div class='give-container'>
                <div>Looking for ways to support the college, students and more?</div>
                <a href='#' class='btn-dark'>Give</a>
            </div>
        </section>
        <!-- Upcoming events section -->
        <section class='home-section-events'>
            <div class='events-container'>
                <div class='upcoming-events'>
                    <div class='upcoming-events-heading'>Upcoming<br />Events</div>
                    <div class='upcoming-events-text'>View the entire <a href='#'>campus calendar</a>.</div>
                </div>
                <div class='events'>
                    <div class='event-item'>
                        <div class='event-date'>Jan. 17 3 p.m.</div>
                        <div class='event-title'>Lorem</div>
                        <a class='event-link' href='#'>Add to Calendar</a>
                    </div>
                    <div class='event-item'>
                        <div class='event-date'>Jan. 17 3 p.m.</div>
                        <div class='event-title'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim odit praesentium voluptatem dolorem</div>
                        <a class='event-link' href='#'>Add to Calendar</a>
                    </div>
                    <div class='event-item'>
                        <div class='event-date'>Jan. 17 3 p.m.</div>
                        <div class='event-title'>Lorem ipsum dolor sit amet, consectetur adipisicing</div>
                        <a class='event-link' href='#'>Add to Calendar</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Social media section -->
        <section class='home-section-social'>
            <a class='instafeed-link' href='#'>
                <img class='instafeed-image' src='/wofford-homepage/images/social/sm-01.jpg' alt='social' />
            </a>
            <a class='instafeed-link' href='#'>
                <img class='instafeed-image' src='/wofford-homepage/images/social/sm-02.jpg' alt='social' />
            </a>
            <a class='instafeed-link' href='#'>
                <img class='instafeed-image' src='/wofford-homepage/images/social/sm-03.jpg' alt='social' />
            </a>
            <a class='instafeed-link' href='#'>
                <img class='instafeed-image' src='/wofford-homepage/images/social/sm-04.jpg' alt='social' />
            </a>
            <a class='instafeed-link' href='#'>
                <img class='instafeed-image' src='/wofford-homepage/images/social/sm-05.jpg' alt='social' />
            </a>
            <div class='social-links-container'>
                <div class='social-text'>Follow us!</div>
                <div class='social-links'>
                    <a class='social-icon' href='#'>
                        <img src='/wofford-homepage/images/icons/facebook.png' alt='facebook icon' />
                    </a>
                    <a class='social-icon' href='#'>
                        <img src='/wofford-homepage/images/icons/twitter.png' alt='twitter icon' />
                    </a>
                    <a class='social-icon' href='#'>
                        <img src='/wofford-homepage/images/icons/instagram.png' alt='instagram icon' />
                    </a>
                    <a class='social-icon' href='#'>
                        <img src='/wofford-homepage/images/icons/linkedin.png' alt='linkedin icon' />
                    </a>
                    <a class='social-icon' href='#'>
                        <img src='/wofford-homepage/images/icons/youtube.png' alt='youtube icon' />
                    </a>
                    <a class='social-icon' href='#'>
                        <img src='/wofford-homepage/images/icons/tiktok.png' alt='tiktok icon' />
                    </a>
                </div>
            </div>
        </section>
    </main>
    <Footer />
</BaseLayout>

<script is:inline>
document.addEventListener('DOMContentLoaded', () => {
    // Media is video
    const videoExists = document.querySelector('.home-media-item')
    const pageContent = document.querySelector('#page-content')

    if (videoExists?.tagName === 'VIDEO') {
        document.querySelector('#header').classList.add('has-video')
        videoExists.addEventListener('click', (e) => {
            if (!videoExists.controls) {
                if (videoExists.paused) {
                    videoExists.play()
                } else {
                    videoExists.pause()
                }
            }
        })
    }

    if (pageContent) {
        if (pageContent.querySelector('.home-section-cta')) {
            pageContent.style.backgroundColor = '#282829'
        }
    }

    // Modal
    const modalEls = Array.from(document.querySelectorAll('[data-modal]'))
    const openModalBtns = Array.from(document.querySelectorAll('[data-modal-open]'))
    const closeModalBtns = Array.from(document.querySelectorAll('[data-modal-close]'))

    // Tab
    const tabContainers = Array.from(document.querySelectorAll('[data-tab]'))

    // Search input
    const searchInput = document.querySelector('#search-input')
    const searchIconClearBtn = document.querySelector('#search-icon-clear')

    // Mobile menu
    const homeMobileToggleMenu = document.querySelector('#home-mobile-toggle-menu')
    const homeNavMenu = document.querySelector('#home-nav-menu')
    const homeNavItems = Array.from(document.querySelectorAll('.home-nav-item'))

    // News story images
    const newsStoriesContainer = document.querySelector('.news-stories')
    const newsStories = Array.from(document.querySelectorAll('.news-story'))
    const prevButton = document.querySelector('.prev-arrow')
    const nextButton = document.querySelector('.next-arrow')

    // Drawer
    const drawerItems = Array.from(document.querySelectorAll('.drawer-nav-item'))

    // Fast facts
    const fastFactsSlider = document.querySelector('.fast-facts-slider')
    const fastFactsPrevBtn = document.querySelector('.fast-facts-slider .prev-slide')
    const fastFactsNextBtn = document.querySelector('.fast-facts-slider .next-slide')

    // FAQs
    const faqs = Array.from(document.querySelectorAll('[data-faq]'))

    // Window size
    let screenSize

    const getScreenSize = () => {
        screenSize = window.innerWidth

        if (screenSize > 860) {
            homeMobileToggleMenu.classList.remove('open')
            homeNavMenu.classList.remove('show')
        }
    }

    window.addEventListener('load', getScreenSize)
    window.addEventListener('resize', getScreenSize)

    // Modal
    openModalBtns.map((button) => {
        button.addEventListener('click', () => {
            if (button.nextElementSibling.matches('[data-modal]')) {
                document.body.classList.add('modal-open')
                button.nextElementSibling.classList.toggle('open')
            }
        })
    })

    closeModalBtns.map((button) => {
        button.addEventListener('click', () => {
            document.body.classList.remove('modal-open')
            button.closest('[data-modal]').classList.remove('open')
            button.closest('.home-nav-item').classList.remove('active')
        })
    })

    modalEls.map((modal) => {
        modal.addEventListener('click', (e) => {
            if (e.target === modal) {
                document.body.classList.remove('modal-open')
                modal.classList.remove('open')
                modal.closest('.home-nav-item').classList.remove('active')
            }
        })
    })

    // Tabs
    tabContainers.map((tabs) => {
        const tabBtns = Array.from(tabs.querySelectorAll('[data-tab-button]'))
        const tabEls = Array.from(tabs.querySelectorAll('[data-tab-content]'))

        document.addEventListener('DOMContentLoaded', () => {
            tabBtnActive = tabs.querySelector('[data-tab-button="1"]')
            tabContentActive = tabs.querySelector('[data-tab-content="1"]')

            tabBtnActive.classList.add('active')
            tabContentActive.classList.add('show')
        })

        tabBtns.map((button) => {
            button.addEventListener('click', (e) => {
                if (screenSize > 860) {
                    if (button.classList.contains('active')) return

                    e.preventDefault()

                    const tabNumber = button.dataset.tabButton
                    const tabContent = tabs.querySelector(`[data-tab-content="${tabNumber}"]`)

                    const prevActiveBtn = tabBtns.filter((btn) => {
                        return btn.classList.contains('active')
                    })

                    if (prevActiveBtn.length > 0 && prevActiveBtn[ 0 ] !== button) {
                        prevActiveBtn[ 0 ].classList.remove('active')
                    }

                    const prevActiveTab = tabEls.filter((tab) => {
                        return tab.classList.contains('show')
                    })

                    if (prevActiveTab.length > 0) {
                        prevActiveTab[ 0 ].classList.remove('show')
                    }

                    button.classList.add('active')
                    tabContent.classList.add('show')
                }
            })
        })
    })

    // Search input
    searchIconClearBtn.addEventListener('click', () => {
        searchInput.value = ''
    })

    // Mobile menu
    homeMobileToggleMenu.addEventListener('click', () => {
        document.body.classList.toggle('modal-open')
        homeMobileToggleMenu.classList.toggle('open')
        homeNavMenu.classList.toggle('show')
    })

    // Toggle navbar item menus
    homeNavItems.map((item) => {
        item.addEventListener('click', (e) => {
            const prevActiveItem = homeNavItems.filter((i) => {
                return i.classList.contains('active')
            })

            if (prevActiveItem.length > 0) {
                prevActiveItem.map((prevItem) => {
                    if (prevItem !== item) {
                        prevItem.classList.remove('active')
                        prevItem.querySelector('[data-modal]').classList.remove('open')
                    }
                })
            }

            if (e.target === item.children[ 0 ] && item.children[ 0 ].hasAttribute('data-modal-open')) {
                item.classList.toggle('active')
            }

            homeNavMenu.scrollTo({ top: item.offsetTop - 30, behavior: 'smooth' })
        })
    })

    // News story images
    if (Array.isArray(newsStories) && !!newsStories.length) {
        let story = newsStories.map((story) => story)

        const prevStory = () => {
            const [ prev, main, next ] = story
            story = [ next, prev, main ]

            newsStoriesContainer.append(...story)

            next.classList.replace('next', 'prev')
            prev.classList.replace('prev', 'current')
            main.classList.replace('current', 'next')
        }

        const nextStory = () => {
            const [ prev, main, next ] = story
            story = [ main, next, prev ]

            newsStoriesContainer.append(...story)

            next.classList.replace('next', 'current')
            prev.classList.replace('prev', 'next')
            main.classList.replace('current', 'prev')
        }

        prevButton.addEventListener('click', prevStory)
        nextButton.addEventListener('click', nextStory)
    }

    // Drawer
    if (Array.isArray(drawerItems) && !!drawerItems.length) {
        drawerItems?.map((item, i) => {
            item.addEventListener('click', (e) => {
                const drawerContainer = item.querySelector('.drawer-container')

                if (drawerContainer.clientHeight > 0) return

                e.preventDefault()
            })
        })
    }

    // Fast facts
    if (fastFactsSlider) {
        const rotateSlides = (direction) => {
            const timer = 500
            const slides = fastFactsSlider.querySelectorAll('.fact-slide')

            const slideIndex = direction == 'prev' ? slides.length - 1 : 0
            const currentSlide = slides[ slideIndex ]

            const slide = currentSlide.cloneNode(true)

            if (direction === 'prev') {
                fastFactsSlider.prepend(slide)
            } else {
                fastFactsSlider.append(slide)
            }

            const slideWidth = currentSlide.offsetWidth
            currentSlide.remove()

            const updatedSlides = fastFactsSlider.querySelectorAll('.fact-slide')

            updatedSlides.forEach((item, i) => {
                item.animate([ { transform: `translateX(${direction === 'prev' ? '-' : ''}${slideWidth}px)` }, { transform: 'translateX(0)' } ], {
                    duration: timer,
                    easing: 'ease-in-out',
                })
            })
        }

        if (fastFactsPrevBtn) {
            fastFactsPrevBtn.addEventListener('click', (e) => rotateSlides('prev'))
        }

        if (fastFactsNextBtn) {
            fastFactsNextBtn.addEventListener('click', (e) => rotateSlides('next'))
        }
    }

    // FAQs
    if (Array.isArray(faqs) && !!faqs.length) {
        faqs.map((faq) => {
            const faqBtns = Array.from(faq.querySelectorAll('[data-faq-button]'))
            const faqEls = Array.from(faq.querySelectorAll('[data-faq-content]'))

            faqBtns.map((button) => {
                button.addEventListener('click', (e) => {
                    const faqNumber = button.dataset.faqButton
                    const faqContent = faq.querySelector(`[data-faq-content="${faqNumber}"]`)

                    const prevActiveBtn = faqBtns.filter((btn) => {
                        return btn.classList.contains('active')
                    })

                    if (prevActiveBtn.length > 0) {
                        prevActiveBtn[ 0 ].classList.remove('active')
                    }

                    const prevActiveFaq = faqEls.filter((faq) => {
                        return faq.classList.contains('show')
                    })

                    if (prevActiveFaq.length > 0) {
                        prevActiveFaq[ 0 ].classList.remove('show')
                    }

                    if (prevActiveBtn[ 0 ] !== button) {
                        button.classList.add('active')
                        faqContent.classList.add('show')
                    }
                })
            })
        })
    }
})
</script>
