---
import '../styles/global.css'

import '@fontsource-variable/roboto-mono'
import '@fontsource-variable/raleway'
import '@fontsource-variable/space-grotesk'
import '@fontsource-variable/rubik'
import '@fontsource/poppins/100.css'
import '@fontsource/poppins/200.css'
import '@fontsource/poppins/300.css'
import '@fontsource/poppins/400.css'
import '@fontsource/poppins/500.css'
import '@fontsource/poppins/600.css'
import '@fontsource/poppins/700.css'
import '@fontsource/poppins/800.css'
import '@fontsource/poppins/900.css'

interface Props {
    title: string
    bodyClass?: string
    isWoffordPage?: boolean
    isLeafletMap?: boolean
}

const { title, bodyClass, isWoffordPage, isLeafletMap } = Astro.props

const isProd = import.meta.env.PROD
---

<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <link rel='icon' type='image/svg+xml' href='/favicon.ico' />
        <meta name='viewport' content='width=device-width' />
        <meta name='generator' content={Astro.generator} />
        {
            isWoffordPage && (
                <>
                    <link rel='stylesheet preload' href='/wofford-homepage/typekit.css' as='style' />
                    <link rel='stylesheet' href='/wofford-homepage/bundle.css' />
                    <link rel='stylesheet' href='/wofford-homepage/base.css' />
                    <link rel='stylesheet' href='/wofford-homepage/styles.css' />
                </>
            )
        }
        {
            isLeafletMap && (
                <>
                    <link rel='stylesheet' href='https://unpkg.com/leaflet@1.9.4/dist/leaflet.css' integrity='sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=' crossorigin='' />
                </>
            )
        }
        <title>{title}</title>
    </head>
    <body class={bodyClass ? bodyClass : ''}>
        <slot />
        {isProd && <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "99173bbfd34e46c6a06faefcd4401d61"}' />}
    </body>
</html>
