<section>
    <h2 class='text-3xl font-bold mb-10 text-center lg:text-left'>Brands</h2>
    <div class='grid grid-cols-2 sm:grid-cols-4 lg:grid-cols-8 items-center justify-center gap-16'>
        <img class='w-16 h-16 mx-auto' src='/ecommerce-page/logos/chanel.svg' alt='Chanel logo' />

        <img class='w-16 h-16 mx-auto' src='/ecommerce-page/logos/calvin-klein.svg' alt='Calvin Klein logo' />
        <img class='w-16 h-16 mx-auto' src='/ecommerce-page/logos/guess.svg' alt='Guess logo' />
        <img class='w-16 h-16 mx-auto' src='/ecommerce-page/logos/gucci.svg' alt='Gucci logo' />
        <img class='w-16 h-16 mx-auto' src='/ecommerce-page/logos/dolce-gabbana.svg' alt='Dolce & Gabbana logo' />
        <img class='w-16 h-16 mx-auto' src='/ecommerce-page/logos/adidas.svg' alt='Adidas logo' />
        <img class='w-16 h-16 mx-auto' src='/ecommerce-page/logos/levis.svg' alt='Levis logo' />
        <img class='w-16 h-16 mx-auto' src='/ecommerce-page/logos/versace.svg' alt='Versace logo' />
    </div>
</section>
