---
import { MasterCard, Visa, PayPal } from './PaymentIcons'

const year = new Date().getFullYear()
---

<footer class='bg-gray-100 pt-16 px-16 lg:px-0'>
    <div class='max-w-5xl mx-auto'>
        <div class='wmd:grid grid-cols-3 text-gray-400 pb-12 gap-8'>
            <div class='max-w-[220px] wmd:max-w-full mx-auto wmd:mx-0 mb-16 wmd:mb-0'>
                <img class='mb-5 w-24 mx-auto wmd:mx-0' src='/ecommerce-page/nostra-logo.png' alt='Nostra logo' />
                <p class='text-balance text-xs text-center wmd:text-left'>Specializes in providing high-quality, stylish products for your wardrobe</p>
            </div>

            <div class='xws:grid grid-cols-2 md:grid-cols-4 col-span-2 gap-y-8 justify-items-center md:justify-items-start space-y-8 xws:space-y-0 text-center xws:text-left'>
                <div>
                    <h4 class='text-black font-bold uppercase mb-3'>Shop</h4>
                    <ul class='space-y-1'>
                        <li><a href='#' class='text-sm outline-none underline-offset-2 hover:text-black focus:text-black hover:underline focus:underline'>All Collections</a></li>
                        <li><a href='#' class='text-sm outline-none underline-offset-2 hover:text-black focus:text-black hover:underline focus:underline'>Winter Edition</a></li>
                        <li><a href='#' class='text-sm outline-none underline-offset-2 hover:text-black focus:text-black hover:underline focus:underline'>Discount</a></li>
                    </ul>
                </div>
                <div>
                    <h4 class='text-black font-bold uppercase mb-3'>Company</h4>
                    <ul class='space-y-1'>
                        <li><a href='#' class='text-sm outline-none underline-offset-2 hover:text-black focus:text-black hover:underline focus:underline'>About Us</a></li>
                        <li><a href='#' class='text-sm outline-none underline-offset-2 hover:text-black focus:text-black hover:underline focus:underline'>Contact</a></li>
                        <li><a href='#' class='text-sm outline-none underline-offset-2 hover:text-black focus:text-black hover:underline focus:underline'>Affiliates</a></li>
                    </ul>
                </div>
                <div>
                    <h4 class='text-black font-bold uppercase mb-3'>Support</h4>
                    <ul class='space-y-1'>
                        <li><a href='#' class='text-sm outline-none underline-offset-2 hover:text-black focus:text-black hover:underline focus:underline'>FAQs</a></li>
                        <li><a href='#' class='text-sm outline-none underline-offset-2 hover:text-black focus:text-black hover:underline focus:underline'>Cookie Policy</a></li>
                        <li><a href='#' class='text-sm outline-none underline-offset-2 hover:text-black focus:text-black hover:underline focus:underline'>Terms of Use</a></li>
                    </ul>
                </div>
                <div>
                    <h4 class='text-black text-center font-bold uppercase mb-3'>Payment Methods</h4>
                    <div class='flex flex-col xs:flex-row items-center justify-center gap-x-4 gap-y-2'>
                        <MasterCard />
                        <Visa />
                        <PayPal />
                    </div>
                </div>
            </div>
        </div>
        <div class='py-8 border-t border-gray-200 text-center text-xs text-gray-400'>
            Copyright &copy;{year} Nostra. All rights reserved
        </div>
    </div>
</footer>
