---
import { ArrowRight } from 'lucide-astro'
---

<div class='relative lg:px-2 mb-20 sm:mb-10'>
    <img class='w-full lg:rounded-md mb-8 sm:mb-0' src='/ecommerce-page/banner.jpg' alt='Hero image' />
    <div class='sm:absolute sm:left-16 sm:right-16 sm:top-2/3 sm:-translate-y-2/3 px-4 sm:px-0'>
        <div class='flex flex-col gap-8 items-center'>
            <h1 class='text-4xl xs:text-5xl sm:text-4xl md:text-5xl lg:text-7xl sm:text-white font-bold text-center' style='text-wrap: balance'>Level up your style</h1>
            <a
                href='#'
                class='group flex items-center gap-1 bg-black sm:bg-white px-3 py-1.5 rounded-md transition-all outline-none hover:bg-gray-300 sm:hover:bg-black focus:bg-gray-300 sm:focus:bg-black'>
                <span class='text-white sm:text-black transition-all group-hover:text-black sm:group-hover:text-white group-focus:text-black sm:group-focus:text-white'>Shop now</span>
                <ArrowRight class='w-4 h-4 transition-all stroke-white sm:stroke-black group-hover:stroke-black sm:group-hover:stroke-white group-focus:stroke-black sm:group-focus:stroke-white' />
            </a>
        </div>
    </div>
</div>
